# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CodeFile\compiling_pre01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
